// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Paleta de Colores
$rojo2: #f25c69;
$gris: #4f4c59;
$gris2: #3b3a40;
$rojo: #c93126; // rgb(201,49,38)
$cafe: #bf7373;
$blanco: #f2f2f2;
$texto: #37353d; // rgb(55,53,61)
